<a href="https://colab.research.google.com/github/juyeong1213/Open-Src-SW/blob/master/10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
str = "{0:s}={1:.3f} meters or{2:d} cm".format('heght', 1.0, 100)
print(str)

heght=1.000 meters or100 cm

In [ ]:

x=float(input("x="))
y=3.0*pow(x,2)+5.0*x+3.0
print("y={0:.2f}\n".format(y))

x=2.1
y=26.73

In [ ]:
r=float(input("r="))
s=3.14*r*r
l=2*3.14*r
print("반지름 {0:.1f}인 원의 넓이는 {1:.1f}이고 둘레는 {2:.1f}입니다.".format(r,s,l))

r=1
반지름 1.0인 원의 넓이는 3.1이고 둘레는 6.3입니다.

In [ ]:
#계산기 
n1 = float(input("n1 = "))
n2 = float(input("n2 = "))
op = input("연산")

if(op=='+'):
  res=n1+n2
  print(res)
elif(op=='-'):
  res=n1-n2
  print(res)
elif(op=='*'):
  res=n1*n2
  print(res)
elif(op=='/'):
  res=n1/n2
  print(res)
else:
  print("Error")

n1 = 10
n2 = 20
연산/
0.5

In [ ]:
for i in range(10):
  print(i)
print("거꾸로 출력")
for i in range(10,0,-1):
  print(i)

for ch in "mystring":
  print(ch)

print("\n")
for e in ["red","green","blue"]:
  print(e)

0
1
2
3
4
5
6
7
8
9
거꾸로 출력
10
9
8
7
6
5
4
3
2
1
m
y
s
t
r
i
n
g


red
green
blue

In [ ]:
for i in range(2,10):
  print("{0:d}단".format(i))
  for j in range(1,10):
    k=i*j
    print("{0:d}*{1:d}={2:d}".format(i,j,k))
  print("")

2단
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18

3단
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27

4단
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36

5단
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45

6단
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54

7단
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63

8단
8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72

9단
9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81

In [ ]:
v=[[1,2,3],[4,5,6]]
for i in v:
  print(i)
  for j in i:
    print(j)

[1, 2, 3]
1
2
3
[4, 5, 6]
4
5
6

In [ ]:
v=list(range(10))
print(v)
for i in v:
  print(i)

print([i for i in v])

v = [[1,2,3],[4,5,6]]
for i in v:
  for j in i:
    print(j)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
0
1
2
3
4
5
6
7
8
9
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
1
2
3
4
5
6

In [ ]:
for i in range(10):
  if 2<i<5:
    continue
  print(i)

for ch in "this is a string":
   if ch == ' ':
     break
   print(ch)

0
1
2
5
6
7
8
9
t
h
i
s

In [ ]:
i=0
for ch in "mystring":
  print(i,ch)
  i=i+1
print("\n")
for i,ch in enumerate("mystring"):
  print(i,ch)

0 m
1 y
2 s
3 t
4 r
5 i
6 n
7 g


0 m
1 y
2 s
3 t
4 r
5 i
6 n
7 g

In [ ]:
i=0
while 1:
  print(i)
  i+=1
  if i>10:
    break

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
v1=10
v2=v1
v1=50
print(v1,v2)

l1=[10]
l2=l1
l1[0]=50
print(l1,l2)

l1=[10]
l2=l1[:]
l1[0]=50
print(l1,l2)

50 10
[50] [50]
[50] [10]

In [ ]:
language=float(input("국어= "))
en=float(input("영어= "))
math=float(input("수학= "))
average=(language+math+en)/3
if average>=90:
  print("평균은 {0:.1f}이며, 등급은 A입니다.".format(average))
  #grade = "A"이런 식으로 등급해놓고 마지막에 프린트로 쭉!
elif 80<=average<90:
  print("평균은 {0:.1f}이며, 등급은 B입니다.".format(average))
elif 70<=average<80:
  print("평균은 {0:.1f}이며, 등급은 C입니다.".format(average))
elif 60<=average<70:
  print("평균은 {0:.1f}이며, 등급은 D입니다.".format(average))
else:
  print("평균은 {0:.1f}이며, 등급은 F입니다.".format(average))

국어= 90
영어= 85
수학= 72
평균은 82.3이며, 등급은 B입니다.

In [ ]:
#라인수 입력 받아서 X모양 출력하기

In [ ]:
l=int(input("Lines="))
for i in range(0,l):
  str=""
  for j in range(0,l):
    if(i==j) or ((l-1)-i==j):
      str+="1"
    else:
      str+="0"
  print(str)

Lines=11
10000000001
01000000010
00100000100
00010001000
00001010000
00000100000
00001010000
00010001000
00100000100
01000000010
10000000001

In [ ]:
def sum(a,b):
  z=a+b
  return z

a=sum(10,20)
print(a)

30

In [ ]:
def sum(a,b):
  z=a+b
  return z

def list_add1(list):
  return sum(list)

def list_add2(list):
  sum=0
  for item in list:
    sum+=item
  return sum
nums=[1,2,3]
print(list_add1(nums))
print(list_add2(nums))

TypeError: ignored

In [ ]:
#입력된 정수들 중에 가장 큰 값ㅇ르 출력하는 프로그램

str=input("Num?")
strlist=str.split()
max=int(strlist[0])
for str in strlist[1:]:
  num=int(str)
  if(num>max):
    max=num
print(max)

Num?1 5 3 9 7
9

In [3]:
class Point:
  def __init__(self,x,y):
    self.x=x
    self.y=y
  def __add__(self,other):
    self.x+=other.x
    self.y+=other.y
    return self
  def show(self):
    print("({0:d}, {1:d})".format(self.x,self.y))

  a= Point(1,2)
  a.show()

NameError: ignored