<a href="https://colab.research.google.com/github/juyeong1213/Open-Src-SW/blob/master/week13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

data = {"unit price" : [1000,280,900],
        "number": [25,120,30]}
df = pd.DataFrame(data, columns=["unit price","number"],
                                 index = ["store1","store2","store3"])
df

        unit price  number
store1        1000      25
store2         280     120
store3         900      30

In [2]:
df['total price'] = df['unit price']*df['number']
df

        unit price  number  total price
store1        1000      25        25000
store2         280     120        33600
store3         900      30        27000

In [8]:
df = df.max()
df

33600